.post-new
  = form_with url: tweet_path, class: "tweet_page", method: :patch do |f|
    #title-border.row
      .input-field.col.s11
        = f.text_field :title, id: "first_name2", class: "validate", placeholder: "見出しを決めよう", type: "text", value: "#{@tweet.title}"
        = f.label :タイトル, id: "post_label", class: "active"
    .row
      .col.s12
        .row
          .input-field.col.s11
            = f.text_area :text, id: "post-textarea", class: "materialize-textarea", placeholder: "アウトプットして技術情報を共有しよう。", "data-length" => "140", value: "#{@tweet.content}"
            = f.label :本文, id: "post_label", class: "active"
            .err_content_length
      %button#post-submit.waves-effect.waves-light.btn.light-blue.darken-4{name: "action", type: "submit"}
        更新する
