.contents.row
  - if flash[:post_done]
    .post_done
  - @tweets.each do |tweet|
    .row
      .col.s12.m6.offset-m3
        .cards
          .card-co
            = link_to "/tweets/#{tweet.id}", method: :get do
              = tweet.title
              %br
            = tweet.content
          .created_at-border
            %p.created_at-text
              作成日:#{tweet.created_at.in_time_zone('Tokyo')}
.container
  = paginate(@tweets)
