.user-page
  .user-page--box
    %h4 ログイン
    = form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f|
      - if flash[:need_new_account]
        .err_email--need-new
          = flash[:need_new_account]
      .row
        .input-field.col.s12
          = f.label :Eメール
          = f.email_field :email, autofocus: true, autocomplete: "email",type: "text"
          .err_email_login
      .row
        .input-field.col.s12
          = f.label :パスワード
          = f.password_field :password, autocomplete: "current-password"
          .err_password_login
      .center-align
        %button.waves-effect.waves-light.btn.light-blue.darken-4{id:"login-btn",type: "submit"}
          ログイン
    = form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f|
      = f.hidden_field :email,id: "email", value: "test_account_for_techbase@gmail.com"
      = f.hidden_field :password,id: "password", value: "test_account_for_techbase"
      .center-align
        %button#test-user.waves-effect.waves-light.btn 
          テストユーザとしてログイン
