!!!
%html
  %head
    %meta{contents: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %style{href: "./style.css", type: "text/css"}
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css", rel: "stylesheet"}/
    %script{crossorigin: "anonymous", integrity: "sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=", src: "https://code.jquery.com/jquery-3.4.1.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"}
    %script{src: "./main.js"}
    %title TechBase
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{class: "#{controller_name}-#{action_name}"}
    %nav
      .nav-wrapper.light-blue.darken-4
        =link_to root_path, class:"brand-logo" do
          = image_tag 'TechBase-logo-white.png'
        %ul#nav-mobile.right.hide-on-med-and-down
          - if user_signed_in?
            %li= link_to "投稿する", new_tweet_path, class: 'post'
            %li= link_to "ログアウト", destroy_user_session_path, method: :delete
          - else
            %li= link_to "ログイン", new_user_session_path, class: 'post'
            %li= link_to "新規登録", new_user_registration_path, class: 'post'
    = yield
